#h5{
    text-align: center;
}
#a1{
    background-color: black;
}
#diva{
    background-color: black;
    color: aliceblue;
}
#aa{
  font-size: 25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}